<%= form_with(model: @meeting) do |form| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <% @meeting.errors.full_messages.each do |message| %>
        <p class="alert alert-danger" role= "alert"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :meeting_room_id %>
    <%= form.select(:meeting_room_id, MeetingRoom.all.collect { |mr| [mr.name, mr.id] }, {}, { id: :meeting_meeting_room_id, class: "form-control select2" })  %>
  </div>

  <div class="form-group">
    <%= form.label :start_time %>
    <div class='input-group date datepicker'>
      <%= form.text_field :start_time, id: :meeting_start_time, class: "form-control"  %>
      <div class="input-group-addon" style="width: 2.6rem">
        <i class="fa fa-calendar"></i>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :end_time %>
    <div class='input-group date datepicker'>
      <%= form.text_field :end_time, id: :meeting_end_time, class: "form-control" %>
      <div class="input-group-addon" style="width: 2.6rem">
        <i class="fa fa-calendar"></i>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "save", class: "btn btn-primary" %>
  </div>
<% end %>
