<% date = Date.parse(@date) %>

<h1>Meetings</h1>
<h2><%= l(date) %></h2>
<div class="container meeting-room-overview">
    <div class="row">
      <% @meeting_rooms.each do |meeting_room| %>
        <div id="<%= dom_id(meeting_room) %>" class="col col-xs-4 col-sm-4 col-md-4 col-lg-4 meeting-day-detail">
          <%= render "room_day", day: date, room: meeting_room %>
        </div>
      <% end %>
    </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to((date - 1.days).to_s, meetings_path(date: date - 1.days)) %>
  </div>
  <div class="col text-right">
    <%= link_to((date + 1.days).to_s, meetings_path(date: date + 1.days)) %>
  </div>
</div>

<br>

<%= render partial: "remote_form" %>

<% @meeting_rooms.each do |meeting_room| %>
  <script type="text/javascript">
    <% meetings = meeting_room.meetings.for_day(date).collect do |m|
        { start_hour: m.start_time.hour,
          start_min: m.start_time.min,
          end_hour: m.end_time.hour,
          end_min: m.end_time.min,
          date: m.start_time.to_date}
        end
      %>

    var meetings = <%= meetings.to_json.html_safe %>
    MeetingRoomApp.drawMeetings('<%= dom_id(meeting_room) %>', meetings)
  </script>
<% end %>
