<p>
  <strong>User:</strong>
  <%= @meeting.user %>
</p>

<p>
  <strong>Meeting room:</strong>
  <%= @meeting.meeting_room %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
