<!DOCTYPE html>
<html>
  <head>
    <title>Meetingrooms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/navigation" %>

    <div class="container content-wrapper">

      <div class="flashes">
        <% if notice %>
          <p class="alert alert-info" role="alert"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p class="alert alert-warning" role= "alert"><%= alert %></p>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
